[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
	ignore = dirty
